[log]
application_log_location = ../logs/application.log
error_log_location = ../logs/error.log

[url]
main_url = https://www.justdial.com
last_page = 100

[search]
#cities = Chennai:Coimbatore:Trichy:Bangalore:Hyderabad:Mumbai:Pune:Gujarat:Lucknow:Delhi:Noida:Gurgaon
#cities = Mumbai:Pune:Gujarat:Lucknow:Delhi:Noida:Gurgaon
cities = Gurgaon
keywords = Grocery Stores:Organic Stores:QSR:Pharmacy:Dairy:Fruits and vegetables
#keywords = Grocery Stores